<footer class="text-center text-lg-start bg-dark text-white">
  <section class="container d-flex justify-content-center justify-content-lg-between p-4">
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <div>
      <a href="" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
      <a href="" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
      <a href="" class="me-4 text-reset"><i class="fa fa-google"></i></a>
      <a href="" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
      <a href="" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
      <a href="" class="me-4 text-reset"><i class="fa fa-github"></i></a>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i> QUICK KART</h6>
          <p>
            quickkart.com is a one stop destination for your family's fashion needs.
             We give you the opportunity to give your wardrobe a makeover with the latest collections from our top brands.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Make Money with Us</h6>
          <p><a href="https://www.amazon.in/sell" class="text-reset" target="_blank">Sell on QuickKart</a></p>
          <p><a href="https://advertising.amazon.com/" class="text-reset" target="_blank">Advertise Your Products</a></p>
          <p><a href="https://affiliate-program.amazon.com/" class="text-reset" target="_blank">Become an Affiliate</a></p>
          <p><a href="https://services.amazon.in/services/fulfilment-by-amazon.html" class="text-reset" target="_blank">QuickKart Fulfillment Services</a></p>
        </div>
        
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Useful Links</h6>
          <p><a href="https://www.flipkart.com/helpcentre" class="text-reset" target="_blank">FAQ</a></p>
          <p><a href="https://www.amazon.in/gp/help/customer/display.html?nodeId=GKM69DUUYKQWKWX7" class="text-reset" target="_blank">Returns & Refunds</a></p>
          <p><a href="https://www.ebay.com/help/buying/shipping-delivery/shipping-delivery?id=4006" class="text-reset" target="_blank">Shipping & Delivery</a></p>
          <p><a href="https://www.amazon.in/gp/help/customer/display.html?nodeId=GX7NJQ4ZB8MHFRNJ" class="text-reset" target="_blank">Privacy Policy</a></p>
          <p><a href="https://www.flipkart.com/pages/terms" class="text-reset" target="_blank">Terms & Conditions</a></p>
        </div>
        
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fa fa-home"></i> QuickKart Pvt Ltd</p>
          <p><i class="fa fa-envelope"></i> support@quickkart.com</p>
          <p><i class="fa fa-phone"></i> +91 98765 43210</p>
          <p><i class="fa fa-map-marker"></i> 123, E-Commerce Street, Chennai, India</p>
        </div>
        
        </div>
        </div>
        </section>
        <div class="text-center p-4">
          &copy; 2024 QuickKart Pvt Ltd. All rights reserved.  
          <a class="text-reset fw-bold" href="https://quickkart.com">quickkart.com</a>
        </div>
        
</footer>